* {
    color: orange;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.wrapTop {
    padding: 100px 0 0 0;
    background-image: url(./images/header-bg.png);
    background-size: 2100px;
    background-repeat: no-repeat; 
    background-position: top center;;
    /* background-attachment:scroll; */
    position: relative;

}

.wrapTop .contentArea {
    width: 900px;
    /* min-height: 900px; */
    margin: 0 auto;
    /* position: relative; */
    /* display: flex; */
    
}

.wrapTop .contentArea .content {
    box-sizing: border-box; /*핵심*/
    /* width: 100%; */
    border: 30px solid orange;
    padding: 50px;
    /* position: relative; */
    display: flex;
    flex-direction:row;
}

.wrapTop .contentArea .content .conTitle {
    color: orange;
    margin: 0 0 30px 0;
    text-decoration: underline;
    letter-spacing: 9px;
}

.wrapTop .contentArea .content .conTitle span {
    font-weight: normal;
}


.wrapTop .contentArea .content .conText {
    color: orange;
    line-height: 1.5;
}

.wrapTop .contentArea .content .conRight {
    
}

.wrapBottom {
    position: relative;
}

.wrapBottom .banner {
    box-sizing: border-box;
    /* min-width: 1200px; */
    width: 100%; /*1. .content의 height가 늘어어나도 아래 붙어있어야함
    2. */
    /* height: 375px; */
    /* border: 1px solid rgb(164, 148, 148); */
    background-color: rgb(221, 221, 221);
    /* margin-top: auto; */
    /* margin: 0 auto; */
    position: absolute;
    /* top: 500px; */
    top: -160px; 
    /* z-index: 30; */
}



.wrapBottom .banner .bannerTop {
    width: 900px;
    /* height: 100px; */
    margin: 0 auto;
    padding: 0 0 30px 0;
    /* border: 1px solid rgb(224, 187, 187); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.wrapBottom .banner .bannerTop .bannerContent {
    position: relative;
}

.wrapBottom .banner .bannerTop .bannerContent .bannerImg {
    margin: 30px 0 0 0;
    width: 280px;
    border-radius: 5px 5px 0 0;
}

.wrapBottom .banner .bannerTop .bannerContent .wrap {
    padding-left: 15px;
    background-color: white;
    border-radius: 0 0 5px 5px;
    border-top: 5px solid orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapBottom .banner .bannerTop .bannerContent .wrap .bannerText {
    font-size: 15px;
    font-weight: bold;
}

.wrapBottom .banner .bannerBottom {
    color: gray;
    text-align: center;
    /* margin: 0 auto; */
    padding: 17px 0;
    border: 1px solid rgb(177, 166, 166);
    background-color: white;
    /* bottom: 0px; */
    letter-spacing: 10px;
    font-size: 5px;
}